.exit {
  animation-name: pull-card-from-deck;
  animation-timing-function: ease;
  animation-duration: 300ms;
}

@keyframes pull-card-from-deck {
  30% {
    transform: translate(0, -20%);
  }
  60% {
    transform: rotate(10deg) translate(-100%, -20%);
  }
  99% {
    transform: translate(-100%, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
