.background {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 3rem,
    rgba(0, 0, 0, 0.1) 3rem,
    rgba(0, 0, 0, 0.1) 8rem
  );
  background-size: 200% 200%;
  animation: barberpole 60s linear infinite;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
